footer {
	color: white;
	font-size: 1.1em;
	background-color: rgb(101, 147, 182);
	padding: 10px 20px;
	/* text-align: left; */
}

footer p {
	margin: unset;
}

footer .my-info {
	margin: .5em 0;
}

footer a {
	color: unset;
}

footer a.twitter::before {
	display: inline-block;
	content: "";
	background-image: url("/src/img/icons8-twitter-96px.png");
	background-size: 1.3em 1.3em;
	height: 1.3em;
	width: 1.3em;
	background-repeat: no-repeat;
	vertical-align: -.4em;
}

footer .credits {
	font-size: 0.9em;
	margin: .3em 0;
}

@media only screen and (min-width: 600px) {
	footer {
		font-size: 1.3em;
	}
}