.gallery {
	max-width: 960px;
	background-color: rgb(82, 82, 82);
	border: 4px solid darkgray;
	border-width: 0px 1px;
	margin: 0 auto;
}

.gallery .gallery-title-area {
	padding: 20px;
	color: white;
}

.gallery .gallery-preview-title {
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 1.5em;
	letter-spacing: .02em;
	margin: unset;
}

.gallery .gallery-preview {
    /* border: 1px solid black; */
	padding: 20px;
	border-top: 3px solid lightgray;
	border-bottom: 3px solid lightgray;
}

.gallery .gallery-preview-img {
    width: 800px;
	max-width: 100%;
    /* border: 4px solid black; */
}

.gallery .gallery-thumbnails {
	padding: 20px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-auto-rows: auto;
}

.gallery .gallery-thumbnails img {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.gallery .gallery-preview-title {
		font-size: 1.8em;
	}

	.gallery .gallery-thumbnails {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}

@media only screen and (min-width: 840px) {
	.gallery .gallery-thumbnails {
		padding: 20px 40px;
	}
}