nav {
    /* height: 50px; */
    background-color: rgb(255, 141, 80);
}

nav .nav-row {
	height: 100%;
    padding: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

nav .nav-button {
	font-size: 1.2em;
	text-decoration: none;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 20px;
}

@media only screen and (min-width: 600px) {
	nav .nav-row {
		padding: 0px 30px;
	}

	nav .nav-button {
		font-size: 1.4em;
		padding: 12px 20px;
	}
}

@media only screen and (min-width: 1024px) {
	nav .nav-row {
		padding: 0px 40px;
	}
}